
  
  <!-- <header>
      <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
      <ul class="navbar-nav">
        <a  routerLink="/home" class="navbar-brand">Young Brains</a>
        <li><a  routerLink="/home" class="nav-link">Home</a></li>
        <li><a  routerLink="/addStudent" class="nav-link">Add Student</a></li> 
        <li><a  *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
      </ul> 
      
      <ul class="navbar-nav">   
        <li><a  *ngIf="loginService.isUserLoggedIn()" class="nav-link"></a></li>    
        <li><a  *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li> 
      </ul> 
    </nav>   
  </header> -->

  <div  class="header">
    <a href="#default" class="logo">CompanyLogo</a>
    <div class="header-right">
      <a  routerLink="/home">Home</a>
      <a routerLink="/addStudent">AddStudent</a>
      <a>Contact</a>
      <a>About</a>
      <a  (click)="logoutCall()">Logout</a>
    </div>
  </div>
