<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/images/logo2.gif" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="login" ngModel #username="ngModel">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="password" ngModel  #password="ngModel">
      <!-- Add font awesome icons to buttons (note that the fa-spin class rotates the icon) -->
		  <button class="buttonload" type="submit" >
      <i *ngIf="showLoading" class="fa fa-spinner fa-spin"></i> Login
      </button>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      Don't have account ? <a class="underlineHover" routerLink="/register" >Sign Up</a><br>
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
